td,
th {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

th {
    top: 0;
    position: sticky;
    position: -webkit-sticky;
    background-color: #4caf50;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tbody tr:hover {
    background-color: #ddd;
}
